.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-height: fit-content;
    margin: 4px 0px;
}

.todo-text {
    font-size: medium;
    margin: 1px 0px;
    padding: 2px 0px;
    width: 350px;
    overflow: auto;
    border: 1px #a4a4a4 solid;
}

.todo-text[done="true"] {
    text-decoration: line-through;
}

.todo-remove-button {
    margin: 0px 10px;
}
